/* global html styles */
html {
    background-color: #181a1b;
    color: #dddad5;
    font-family: 'Inter', sans-serif;
}

/* body content styles */
body {
    max-width: 1400px;
    margin: auto;
    padding: 30px;
}

h1 {
    margin-top: 0;
    margin-bottom: 50px;
}

.sub-heading {
    border-bottom: solid 1px #3e3e3e;
    display: flex;
    margin-bottom: 15px;
    justify-content: space-between;
    align-items: center;
}

.sub-heading h3 {
    font-weight: 500;
}

.sub-heading h3:last-child {
    font-weight: 300;
    font-size: 15px;
    color: #4b4b4b;
}

/* table styles */
table {
    width: 100%;
    border-collapse: collapse;
}

th {
    border-bottom: solid 1px #3e3e3e;
    padding-bottom: 15px;
}

td {
    padding: 12px;
    border-bottom: solid 1px #3e3e3e;
    text-align: center;
    padding-left: 3px;
}

table tbody td img {
    width: 40px;
}

table tbody td:nth-child(2) {
    display: flex;
    column-gap: 5px;
    align-items: center;
}

table thead th:nth-child(7),
table thead th:nth-child(1) {
    color: #9f9fff;
}

table tbody td:nth-child(7),
table tbody td:nth-child(1) {
    color: #9f9fff;
}

/* attribue */
table tbody tr:last-child td {
    text-align: left;
    color: #4b4b4b;
}

/* default table classes from tablesort */
th[role=columnheader]:not(.no-sort) {
    cursor: pointer;
}

th[role=columnheader]:not(.no-sort):after {
    content: '';
    float: right;
    margin-top: 7px;
    border-width: 0 4px 4px;
    border-style: solid;
    border-color: #404040 transparent;
    visibility: hidden;
    opacity: 0;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

th[aria-sort=ascending]:not(.no-sort):after {
    border-bottom: none;
    border-width: 4px 4px 0;
}

th[aria-sort]:not(.no-sort):after {
    visibility: visible;
    opacity: 0.4;
}

th[role=columnheader]:not(.no-sort):hover:after {
    visibility: visible;
    opacity: 1;
}